.App {
  /* TODO use flex for a better full screen, centered container */
  padding: 1em 0.5em;
  height: calc(100% - 2em);
  width: calc(100% - 1em);
  font-size: 4rem;
}

@media (min-width: 320px) { .App.App { font-size: 6rem; } }
@media (min-width: 375px) { .App.App { font-size: 8rem; } }
@media (min-width: 520px) { .App.App { font-size: 11rem; } }
@media (min-width: 768px) { .App.App { font-size: 14rem; } }
@media (min-width: 800px) { .App.App { font-size: 16rem; } }
@media (min-width: 1080px) { .App.App { font-size: 18rem; } }
@media (min-width: 1280px) { .App.App { font-size: 22rem; } }
@media (min-width: 1440px) { .App.App { font-size: 27rem; } }
@media (min-width: 1920px) { .App.App { font-size: 31rem; } }
@media (min-width: 2160px) { .App.App { font-size: 36rem; } }

.App .container {
  position: relative;
  height: 100%;
  width: 100%;

}

.App .status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  padding: 40px;
}

@mixin animation($name, $seconds, $style, $totaltime) {
    animation: $name $seconds $style $totaltime;
    -ms-animation: $name $seconds $style $totaltime;
    -webkit-animation: $name $seconds $style $totaltime;
    -moz-animation: $name $seconds $style $totaltime;
    -o-animation: $name $seconds $style $totaltime;
}


/*@-webkit-keyframes breathing {
    0% { @include box-shadow( 0px 1px -1px  $color); }
    50% { @include box-shadow( 0px 1px 25px $color); }
}
@-moz-keyframes breathing {
    0% { @include box-shadow( 0px 1px 1px  $color); }
    50% { @include box-shadow( 0px 1px 25px $color); }
}
@keyframes breathing {
    0% { @include box-shadow( 0px 1px 1px  $color); }
    50% { @include box-shadow( 0px 1px 25px $color); }
}*/

@-webkit-keyframes breathing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes breathing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes breathing {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.App .status .isRecording {
  border-radius: 50%;
  background: red;
  height: 40px;
  width: 40px;
  /*@include animation(breathing, 3s, linear, infinite);*/
  /*animation: breathing 2s linear infinite;
  -ms-animation: breathing 2s linear infinite;
  -webkit-animation: breathing 2s linear infinite;
  -moz-animation: breathing 2s linear infinite;
  -o-animation: breathing 2s linear infinite;*/
  @include animation(breathing, 3s, linear, infinite);
}
