.App {
  padding: 1em 0.5em;
  height: calc(100% - 2em);
  width: calc(100% - 1em);
  font-size: 4rem;
}

@media (min-width: 320px) { .App.App { font-size: 6rem; } }
@media (min-width: 375px) { .App.App { font-size: 8rem; } }
@media (min-width: 520px) { .App.App { font-size: 11rem; } }
@media (min-width: 768px) { .App.App { font-size: 14rem; } }
@media (min-width: 800px) { .App.App { font-size: 16rem; } }
@media (min-width: 1080px) { .App.App { font-size: 18rem; } }
@media (min-width: 1280px) { .App.App { font-size: 22rem; } }
@media (min-width: 1440px) { .App.App { font-size: 27rem; } }
@media (min-width: 1920px) { .App.App { font-size: 31rem; } }
@media (min-width: 2160px) { .App.App { font-size: 36rem; } }

.App .container {
  position: relative;
  height: 100%;
  width: 100%;
}

.App.DateTime {
  position: absolute;
  width: 100%;
}

.App.DateTime {
  top: 0;
}
